#projectsBody {
    background: #090E1E;
    /* Ensuring body takes full height to allow scrolling */
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden !important;
}

#fakeContainer {
    width: 48vw;
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 1000px) {
    #fakeContainer {
        width: 100vw;
    }

}

.selected {
    /*color: #7E70CD !important;*/
    /*font-weight: 600 !important;*/
    /*border-bottom: 1px solid #fff;*/
    /*opacity: 0.7;*/
}

.selected:hover {
    opacity: 1 !important;
}

#sketchContainer1 {
    width: 100%;
    height: 85vh;
    /*background: red;*/
    margin-top: 15vh;
}

#sketchContainer2 {
    width: 90%;
    height: auto; /* Allow to dynamically change */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: visible; /* This ensures that overflowing elements aren't cut off */
    margin-top: 150px;
}

body {
    overflow: visible !important;
}

img {
    pointer-events: none;
}

.close-button {
    transition: 0.2s;
}

.close-button:hover {
    transform:scale(0.95);
    opacity: 0.9;
}

.outerTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes up the full width */

}

.titleBox {
    width: 50%;
    height: auto;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.decorativeBox {
    width: 35vw;
    height: 35vw;
    background-image: url(../img/backgroundPhoto.jpg);
    background-size:cover;


}

.categoryTitle > h1 {
    font-size: 13vw;
    font-family: Montserrat;
    font-weight: 800;
    color: #fff;
    /*margin-left: 50%;*/
    padding-top: 38%;
    mix-blend-mode: difference;
    text-align: center;

}

.projectIntroducer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    width: calc(90% - 25px); /* Match #sketchContainer2's width including margin */
    margin-left: auto; /* Center the element */
    margin-right: auto; /* Center the element */
    /* Optional: Ensure it only takes space if necessary */
    max-width: 100%;
    box-sizing: border-box; /* Include padding, border in the element's total width and height */
    /*margin-bottom: 50px;*/

}

.projectIntroducer > h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 2;
    position: relative;
    margin-top: 18vw;
    margin-left: -5vw; /* Adjust to align centrally within .projectIntroducer */

}

.imageContainer {
    position: relative;
    background-size: cover;
    background-position: center;
    flex: 1 1 0; /* Allow flex properties to govern growth/shrink */
    /* Use aspect ratio to keep it square */
    aspect-ratio: 1 / 1;
    width: 40vw; /* Can be adjusted or managed by flex */
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
}


#popupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*padding: 10px; !* Optional: add a bit of padding *!*/
    box-sizing: border-box;
}

.popup img {
    width: auto;
    height: auto;
    max-width: 90vw; /* Maximum width relative to viewport */
    max-height: 90vh; /* Maximum height relative to viewport */
    object-fit: contain; /* Ensures the image fully fits within the boundaries */
}

.close-button {
    position: absolute;
    top: 25px; /* Increased from 10px to 25px */
    right: 25px; /* Increased from 10px to 25px */
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    z-index: 1001;
    transition: 0.2s;
}

.close-button:hover {
    transform:scale(0.95);
    opacity: 0.9;
}


